body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F3F4F6;
  color: #333;
}

.screen{
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}
.page{
  color: #10B981 !important;
}

@media(max-width: 768px){
  .show-desktop{
    display: none !important;
  }
}

.show-desktop{
  display: flex;
}

.header {
  background-color: #1E3A8A;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #10B981;
}

.nav-links {
  display: flex;
  gap: 3rem;
  margin-right: 13rem;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  font-size: 25px;
  color: white;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #10B981;
}
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px){
  .modal {
    line-height: 30px;
  }
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;  
  padding: 40px 20px;
  flex-direction: column;
}

.modal-content a {
  color: #10B981;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: #1E3A8A;
}

.modal-content a:hover{
  background-color: #2563EB;
  color: #00ffaa;
}

#close-modal{
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: rgb(138, 5, 5);
  border-radius: 8px;
  color: #fff;
}

#close-modal:hover{
  background-color: red;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  transition: transform 0.3s;
}

.profile-image:hover {
  transform: scale(1.1);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  margin-left: 10px;
}
.search-btn{
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.hero {
  text-align: center;
  background-color: #10B981;
  color: white;
  padding: 7rem 1rem;
  margin-top: 3rem;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.button {
  background-color: #3B82F6;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.dancing-script{
  font-family: "Dancing Script", cursive;
}

.button:hover {
  background-color: #2563EB;
}

.categories {
  padding: 4rem 1rem;
  text-align: center;
}

.footer {
  background-color: #1E3A8A;
  color: white;
  text-align: center;
  padding: 0.5rem 0;  
}

.social-links a {
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #10B981;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #1E3A8A;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem;
}

.mobile-menu.open {
  display: flex;
}

.screen-sm{
  max-width: 480px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0 10px;
  }
  .nav-link a {
    font-size: 16px;
    color: white;
    transition: color 0.2s;
  }
  
  .nav-link a:hover {
    color: #10B981;
  }
  .actions {
    display: inline;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu.open .nav-links,
  .mobile-menu.open .actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.category-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card h2 {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  color: #10B981;
}

.category-card img {
  width: 100%;
  max-width: 150px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
}


.loader-div{
  display: flex;
  justify-content: center;
}
.spinner-border {
  display: inline-block;
  width: var(--bs-spinner-width);
  height: var(--bs-spinner-height);
  vertical-align: var(--bs-spinner-vertical-align);
  border-radius: 50%;
  animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
}

@keyframes spinner-border {
  to {
      transform: rotate(360deg) /* rtl:ignore */;
  }
}
.spinner-border {
  --bs-spinner-width: 2rem;
  --bs-spinner-height: 2rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-border-width: 0.25em;
  --bs-spinner-animation-speed: 0.75s;
  --bs-spinner-animation-name: spinner-border;
  border: var(--bs-spinner-border-width) solid currentcolor;
  border-right-color: transparent;
}

.spinner-border-sm {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-border-width: 0.2em;
}

@keyframes spinner-grow {
  0% {
      transform: scale(0);
  }
  50% {
      opacity: 1;
      transform: none;
  }
}
.spinner-grow {
  --bs-spinner-width: 2rem;
  --bs-spinner-height: 2rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-animation-speed: 0.75s;
  --bs-spinner-animation-name: spinner-grow;
  background-color: currentcolor;
  opacity: 0;
}

.spinner-grow-sm {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
  .spinner-grow {
      --bs-spinner-animation-speed: 1.5s;
  }
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}